{{!-- Crear formulario de pago--}}

<div class="container d-lg-flex">
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <h1 class="fw-bold">Formulario de pago</h1>
                <p class="dis mb-3">Por favor, rellena los campos para finalizar el proceso de compra</p>
            </div>
            <form action="">
                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Email</p> 
                    <input class="form-control" type="email" placeholder="ejemplo@ejemplo.com">
                </div>
                <div>
                    <p class="dis fw-bold mb-2">Tarjeta de crédito</p>
                    <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                        <div class="fab fa-cc-visa ps-3">
                            <input type="text" class="form-control" placeholder="Nº de tarjeta">
                        </div>
                        <div class="d-flex w-50"> 
                            <input type="text" class="form-control px-0" placeholder="MM/YY"> 
                            <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV">
                        </div>
                    </div>
                    <div class="my-3 cardname">
                        <p class="dis fw-bold mb-2">Nombre del titular de la tarjeta</p>
                        <input class="form-control" type="text">
                    </div>
                    <div class="my-3 cardname">
                        <p class="dis fw-bold mb-2">Dirección de facturación</p>
                        <input class="form-control" type="text">
                        <div class="d-flex">
                            <input class="form-control zip" type="text" placeholder="C.P.">
                            <input class="form-control state" type="text" placeholder="CC.AA">
                        </div>
                        <div class=" my-3">
                            <p class="dis fw-bold mb-2">DNI</p>
                            <div class="inputWithcheck">
                                <input class="form-control" type="text" placeholder="XXXXXXXX-G">
                                <span class="fas fa-check"></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column dis">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>Subtotal</p>
                                <p><span class="fas fa-dollar-sign"></span>Aquí debería aparecer el precio</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>IVA<span>(21%)</span></p>
                                <p><span class="fas fa-dollar-sign"></span>Aquí debería calcularse el IVA</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p class="fw-bold">Total</p>
                                <p class="fw-bold"><span class="fas fa-dollar-sign"></span>Debería aparecer el total</p>
                            </div>
                            <div class="btn btn-primary mt-2">
                                <a href="/" class="btn btn-primary">Pagar</a>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
